:host {
  --forced-scale: 325px;
}

.image-text-container {
  padding: 2em 2.5%;
  background-color: var(--color-white);
}

.image-text-container.light {
  background-color: var(--color-light-grey);
}

.title {
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: clamp(2rem, calc(2.25vw + 1rem), 3.25rem);
  font-weight: 800;
  margin-bottom: 0.5em;
}

.content-container {
  display: flex;
  gap: 2em;
}

.image-text-container.reverse .content-container {
  flex-direction: row-reverse;
}

.text-container,
.image-container {
  flex: 1;
}

.force-image-scale {
  max-height: var(--forced-scale);
}

.smaller-title {
  text-align: left;
  color: var(--color-darkgrey);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: clamp(1.75rem, calc(2.25vw + 1rem), 3rem);
  font-weight: 700;
}

.description {
  font-size: clamp(1rem, 1.2vw, 1.4rem);
  line-height: 1.6;
  margin-bottom: 1em;
}

.image-container img {
  border-radius: 15px;
}

@media (width < 750px) {
  .content-container {
    flex-direction: column;
  }

  .image-text-container.reverse .content-container {
    flex-direction: column;
  }
}
